body {
    background-color: #888;
}

.btn {
    width: 90%;
    margin-left: 5%;
    margin-top: 9%;
    margin-bottom: 9%;
}

.btn:hover{
    background-color: #ccc;
}


#decobtn{
    height: 6%;
    margin-top: 30%;
    background-color: #555;
    color: white;
    border-radius: 2px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
    border: none;
}

#decobtn:hover {
    background-color: #666;
}

#pageload {
    background-color: #ff6a00;
}

#pageload:hover {
    background-color: #ff7a00;
}

#navbar {
    width: 20%;
    height: 100%;
    background-color: #000000;
    position: fixed;
}
#navbar img {
    width: 100%;
    height: 20%;
}

#navbar hr {
    border: 1px solid #fff;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-top: 2%;
    border-radius: 20px;
}

#main {
    width: 76%;
    height: 93%;
    background-color: #fff;
    margin-left: 22%;
    display: flex;
    position: absolute;
    margin-top: 2%;
    border-radius: 20px;
    color: #000000;
}

#title {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    font-family: Kanit;
    margin-left: 30%;
    color: #000000;
}

#newTask {
    width:25%;
    margin-left: 10%;
}

#beginDate{
    margin-left: 5%;
    width: 20%;
}

#endDate{
    margin-left: 3%;
    width: 20%;
}

#addTaskButton{
    font-family: Kanit;
    font-size: 25px;
    border-radius: 3px;
    width: 15%;
    margin-right: 10%;
    margin-left: 10%;
}

#taskList{
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #fff;
    border-radius: 20px;
}
li{
    display: flex;
    flex-direction: row;
}





#addTaskButton:hover{
    background-color: #ddd;
}



#delete:hover{
    background-color: #ddd;
}

#edit:hover{
    background-color: #ddd;
}