.weatherwidget-io{
    width: 20%;
    height: 100%;     
}
.contentmanager{
    display: flex;
    flex-direction: row;
}

#weatherWidget {
    height: 20px;
}
.padding_block{
    height: 50px;
}
ion-slides {
    height: 100%;
}
.carrousel_pos{
    display: flex;
    flex-direction: column;
}
