.weatherwidget-io{
    width: 20%;
    height: 100%;     
}
.contentmanager{
    display: flex;
    flex-direction: row;
}

#weatherWidget {
    height: 20px;
}
.padding_block{
    height: 50px;
}
ion-slides {
    height: 100%;
}
.carrousel_pos{
    display: flex;
    flex-direction: column;
}
#time{
    width: 30%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Kanit;
    color: white;
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin-left: 30%;
}
h1{
    font-size: 50px;
    color: orangered;
}
.carrousel_pos{
    width: 100%;
    height: 100%;
}
