<ion-header>
</ion-header>
<body>
  <ion-content scrollY="false" >
    <img id="jacobi" src="../assets/images/Jacobi-group.png">
    <ion-card-content>
      <ion-card id="login">
        <h3>Connexion</h3>
        <form (ngSubmit)="login()" [formGroup]="credentials">
          <ion-item>
            <ion-label position="stacked">Votre Email</ion-label>
            <ion-input type="email" inputmode="email" placeholder="Email" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Insérez votre email</ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Mot de passe</ion-label>
            <ion-input type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Insérez votre mot de passe</ion-note>
          </ion-item>
          <div id="valid_btn">
            <ion-button type="submit" expand="block" strong="true" [disabled]="!credentials.valid" class="button">
              <span>Se connecter</span>
                    <svg viewBox="0 0 15 13">
                        <polyline points="2 6.5 6 10.5 13 2.5"></polyline>
                    </svg>
            </ion-button>
            <div class="ion-margin-top">
              <ion-button type="button" expand="block" (click)="forgotPw()">
                <ion-icon name="key-outline" slot="start"></ion-icon>
                Mot de passe oublié ?
              </ion-button>
            </div>
          </div>
        </form>
      </ion-card>
      <div class="piecesbackground">
        <div id="one"></div>
        <div id="two"></div>
        <div id="three"></div>
        <div id="four"></div>
        <div id="five"></div>
        <div id="six"></div>
        <div id="seven"></div>
        <div id="eight"></div>
        <div id="nine"></div>
        <div id="ten"></div>
        <div id="eleven"></div>
        <div id="twelve"></div>
        <div id="thirteen"></div>
    </div>
    </ion-card-content>
  </ion-content>
</body>

