
<ion-content>
  <div id="navbar">
    <img src="../images/Jacobi-group.png" alt="Jacobi Logo">
    <hr>
    <a class="btn" href="../templates/employees_tasks.html">Tâches des employés</a>
    <a class="btn" href="../templates/security_measures.html">Mesures de sécurité</a>
    <a class="btn" href="../templates/appointments.html">Rendez-vous</a>
    <a class="btn" id="pageload" href="../templates/visitors.html">Visiteurs</a>
    <a class="btn" href="../templates/historic.html">Historique</a>
    <button id="decobtn">Déconnexion</button>
</div>
<div id="main">
    <div class="container">
        <h3 id="title">Ajouter un visiteur</h3>
        <div id="inputVisitor">
            <input id="visitorDate" type="date">
            <input id="newVisitor" type="text">
            <button id="addVisitorButton" type="button">Ajouter</button>
            <ul id="visitorList">
            </ul>
        </div>
    </div>
</div>
</ion-content>
