
.navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
    flex-direction:column;
    align-items: flex-start;   
   
}
.navbar{
    width: 25%;
    height: 100vh;
    align-items: flex-start;
}

.navbar-brand{
    margin-left: .5em;
    font-size: 1.5em;
    font-weight: bold;
}



@media screen and (min-width:1000px) {
    #setting-page{
        
        width: auto;
        height: auto;
        position: absolute;
        left: 30%;
        margin-left: -50px;
        top: 10%;
        margin-top: -50px;   

    }
    #jacobi-logo{
        height: 5rem;   
        width: 10rem;
        
     }
}
@media screen and (max-width:1000px) {
    #setting-page{
        
        width: auto;
        height: auto;
        position: absolute;
        left: 40%;
        margin-left: -50px;
        top: 10%;
        margin-top: -50px;   

    }
    #jacobi-logo{
        display: none;
        
     }
}
/*Carrousel*/
.card {
    display: inline-block;
    background: #d3d3d3;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 3px 15px 2px rgba(0,0,0,.35);
  }
  .slick-slider {
    width: 200px;
  }
  .slick-prev {
    left: 5px;
    z-index: 1;
  }
  .slick-next {
    right: 5px;
  }
  .slick-next:before, .slick-prev:before {
    color: #346abf;
  }


