/*#jacobi-logo{
    height: 5rem;   
    width: 10rem;
    
 }*/


/*@media screen and(max-width:740px){
    #jacobi-logo{
        height: 2.5rem;
        width: 5rem;
    }
}
@media screen and(min-width:740px) {
    #jacobi-logo{
        height: 5rem;
        width: 10rem;
    }
}*/

.navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
    flex-direction:column;
    align-items: flex-start;   
   
}
.navbar{
    width: 25%;
    height: 100vh;
    align-items: flex-start;
}

.navbar-brand{
    margin-left: .5em;
    font-size: 1.5em;
    font-weight: bold;
}

/*#setting-page{
    color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 30%;
    margin-left: -50px;
    top: 10%;
    margin-top: -50px;
    
    
    
}*/

@media screen and (min-width:1000px) {
    #setting-page{
        
        width: 100px;
        height: 100px;
        position: absolute;
        left: 30%;
        margin-left: -50px;
        top: 10%;
        margin-top: -50px;   

    }
    #jacobi-logo{
        height: 5rem;   
        width: 10rem;
        
     }
}
@media screen and (max-width:1000px) {
    #setting-page{
        
        width: 100px;
        height: 100px;
        position: absolute;
        left: 40%;
        margin-left: -50px;
        top: 10%;
        margin-top: -50px;   

    }
    #jacobi-logo{
        display: none;
        
     }
}



