<ion-content>
  <ion-list>
    <ion-buttons slot="end" >
      <ion-button (click)="signOut()" *ngIf="user | async"> <ion-icon name="log-out-outline" slot="icon-only"></ion-icon> </ion-button>

      <ion-button (click)="openLogin()" *ngIf="(user | async) === false"> Connexion </ion-button>
    </ion-buttons>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="user | async">
    <ion-fab-button (click)="createGroup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="createContent()">
      <ion-icon name="getContent"></ion-icon>create
    </ion-fab-button>
    <ion-fab-button (click)="loadContent()">
      <ion-icon name="getContent"></ion-icon>load
    </ion-fab-button>
    <ion-label id="loader"></ion-label>
  </ion-fab>
</ion-content>
